// Override default variables before the import

$primary: #caf0f8;
$secondary: #96e1f0;
$info: #00b4d8;
$warning: #0077b6;
$dark: #014d96;

body {
  background: rgb(199, 239, 247);
  background: linear-gradient(
    180deg,
    rgba(199, 239, 247, 1) 0%,
    rgba(38, 191, 222, 1) 50%,
    rgba(1, 77, 150, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
